@media screen and (max-width: 500px) {
    div.nav-links {
        display: contents;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'works sans' , sans-serif;
}


body {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.alert-info{
    background: aqua;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    margin:1em;
}

h1 {
    display: flex;
    justify-content: center;
}

.nav-links {
    width: 100%;
    display: inline-block;
}

li {
    background: lightgrey;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    margin:1em;
}

section {
    margin: 1em;
    padding: 1em;
}

footer {
    margin: 1em;
    padding: 1em;
}